<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- UIkit CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/uikit@3.16.24/dist/css/uikit.min.css"
    />
    <link rel="stylesheet" href="./css/index.css" />
    <title>Digital Dive</title>
  </head>
  <body>
    <header>
      <nav class="uk-navbar-container">
        <div class="uk-container">
          <div uk-navbar>
            <div class="uk-navbar-left">
              <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="/">Home</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
              </ul>
            </div>
            <div class="uk-navbar-right">
              <ul class="uk-navbar-nav">
                {{log user}}
                {{#if logged_in}}
                  <li><a href="/login" id="logout">Logout</a></li>
                {{else}}
                  <li><a href="/login">Login</a></li>
                {{/if}}
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main class="uk-flex uk-flex-left">
      {{{body}}}
    </main>

    {{#if logged_in}}
      <script src="./js/logout.js"></script>
    {{/if}}

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.24/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.24/dist/js/uikit-icons.min.js"></script>
  </body>
</html>