<div class="uk-container login-container">
  <div class="uk-grid-divider uk-child-width-expand@s uk-grid-match" uk-grid>
    <div>
      <h1>Login</h1>

      <form class="uk-form-horizontal uk-margin-large login-form">
        <div class="uk-margin">
          <label class="uk-form-label" for="form-login-email">Email</label>
          <div class="uk-form-controls">
            <input
              class="uk-input email-login"
              id="form-login-email "
              type="text"
              placeholder="Some text..."
            />
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="form-login-password">Password</label>
          <div class="uk-form-controls">
            <input
              class="uk-input password-login"
              id="form-login-password "
              type="password"
              placeholder="Some text..."
            />
          </div>
        </div>
        <button
          class="uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom"
          type="submit"
        >Login</button>
      </form>
    </div>

    <div>
      <h1>Sign Up</h1>
      <form class="uk-form-horizontal uk-margin-large signup-form">

        <div class="uk-margin">
          <label class="uk-form-label" for="form-signup-username">Username: </label>
          <div class="uk-form-controls">
            <input
              class="uk-input username-signup"
              id="form-signup-username "
              type="text"
              placeholder="Some text..."
            />
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="form-signup-email">Email: </label>
          <div class="uk-form-controls">
            <input
              class="uk-input email-signup"
              id="form-signup-email "
              type="text"
              placeholder="Some text..."
            />
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="form-signup-password">Password: </label>
          <div class="uk-form-controls">
            <input
              class="uk-input password-signup"
              id="form-signup-password "
              type="password"
              placeholder="Some text..."
            />
          </div>
        </div>

        <button
          class="uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom"
          type="submit"
        >Sign Up</button>
      </form>
    </div>
  </div>
</div>

<script src="./js/login.js"></script>