<form class="uk-form-horizontal uk-margin-large">

  <div class="uk-margin">
    <label class="uk-form-label" for="form-horizontal-text">Email</label>
    <div class="uk-form-controls">
      <input
        class="uk-input"
        id="form-horizontal-text email-login"
        type="text"
        placeholder="Some text..."
      />
    </div>
  </div>

  <div class="uk-margin">
    <label class="uk-form-label" for="form-horizontal-text">Password</label>
    <div class="uk-form-controls">
      <input
        class="uk-input"
        id="form-horizontal-text password-login"
        type="text"
        placeholder="Some text..."
      />
    </div>
  </div>

  <button
    class="uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom login-form"
    type="submit"
  >Login</button>
</form>

<form class="uk-form-horizontal uk-margin-large">

  <div class="uk-margin">
    <label class="uk-form-label" for="form-horizontal-text">Username: </label>
    <div class="uk-form-controls">
      <input
        class="uk-input"
        id="form-horizontal-text username-signup"
        type="text"
        placeholder="Some text..."
      />
    </div>
  </div>

  <div class="uk-margin">
    <label class="uk-form-label" for="form-horizontal-text">Email: </label>
    <div class="uk-form-controls">
      <input
        class="uk-input"
        id="form-horizontal-text email-signup"
        type="text"
        placeholder="Some text..."
      />
    </div>
  </div>

  <div class="uk-margin">
    <label class="uk-form-label" for="form-horizontal-text">Password: </label>
    <div class="uk-form-controls">
      <input
        class="uk-input"
        id="form-horizontal-text password-signup"
        type="text"
        placeholder="Some text..."
      />
    </div>
  </div>

  <button
    class="uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom signup-form"
    type="submit"
  >Sign Up</button>
</form>

<script src="./js/login.js"></script>